/* MAIN */
.cart-container {
  display: flex;
  gap: 40px;
  padding: 40px 60px;
  flex-wrap: wrap;
}

/* LEFT */
.cart-left {
  flex: 2;
}

.cart-left h2 {
  margin-bottom: 20px;
}

/* TABLE */
.cart-table {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.cart-header,
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.cart-item {
  align-items: center;
  border-bottom: 1px solid #eee;
}

.qty {
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 6px;
}

.remove {
  color: red;
  cursor: pointer;
}

/* CONTINUE */
.continue {
  display: inline-block;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
}

/* RIGHT */
.cart-right {
  flex: 1;
}

/* CARD */
.summary-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.label {
  margin-bottom: 10px;
  font-size: 14px;
}

.coupon {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.coupon input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.coupon button {
  background: #2a5bd7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

/* SUMMARY */
.summary div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

/* PAY BUTTON */
.pay-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background: orange;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* PAYMENT ICON */
.payment-icons {
  text-align: center;
  margin-top: 10px;
}

.payment-icons img {
  width: 120px;
}

/* ===================== */
/* MOBILE */
/* ===================== */
@media (max-width: 768px) {
.cart-container {
    flex-direction: column;
  }

  .cart-left,
  .cart-right {
    width: 100%;
  }
}