/* BREADCRUMB */
.breadcrumb {
  padding: 15px 60px;
  font-size: 14px;
  color: #888;
}
/* PRODUCT */
.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 60px;
  flex-wrap: wrap;
}

/* LEFT */
.product-images,
.product-details {
  flex: 1 1;
}

.main-image {
  background: #eee;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.main-image img {
  width:100%;
  max-width: 350px;
}

.thumbnails {
  display: flex;
  flex-wrap:wrap;
  gap: 15px;
  margin-top: 20px;
}

.thumbnails img {
  width: 80px;
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* RIGHT */
.product-details {
  flex: 1;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.desc {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* PRICE */
.price-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #2a5bd7;
}

.save {
  color: green;
  font-weight: bold;
}

.tax {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.actions select {
  padding: 10px;
  border-radius: 8px;
}

.cart-btn {
  background:var(--primary-color);
  border: none;
  color:var(--secondary-color);
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
/* ===================== */
/* TABLET */
/* ===================== */
@media (max-width: 1024px) {
 .product {
    flex-direction: column;
    padding: 30px;
  }

  .main-image img {
    width: 250px;
  }

  .product-details {
    text-align: center;
  }

  .actions {
    justify-content: center;
  }
}
/* ===================== */
/* MOBILE */
/* ===================== */
@media (max-width: 768px) {
  /* PRODUCT */
  .product {
    flex-direction: column;
    padding: 20px;
  }

  .main-image {
    padding: 20px;
  }

  .main-image img {
    width: 200px;
  }

  .thumbnails {
    justify-content: center;
    flex-wrap: wrap;
  }

  .thumbnails img {
    width: 60px;
  }

  .product-details h1 {
    font-size: 22px;
  }

  .price {
    font-size: 22px;
  }

  .actions {
    flex-direction: column;
    width: 100%;
  }

  .actions select,
  .cart-btn {
    width: 100%;
  }

  .cart-btn {
    padding: 14px;
  }
}